/* line 5, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Declaration des variables */
/* Devices */
/* line 6, ../scss/styles.scss */
*, ::after, ::before {
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  outline: none;
  border: none;
  color: inherit;
  text-decoration: none;
  line-height: 1.5;
}

/* line 15, ../scss/styles.scss */
html {
  font-size: 62.5%;
}

/* line 18, ../scss/styles.scss */
body {
  font-size: 1.6rem;
  font-family: nunito, sans-serif;
}

/* line 22, ../scss/styles.scss */
textarea {
  resize: none;
}

/* line 25, ../scss/styles.scss */
.message--erreur {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #dc3545;
}

/* Wrapper */
/* line 35, ../scss/styles.scss */
#wrapper {
  color: #fafafa;
  position: relative;
  min-width: 36rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* line 44, ../scss/styles.scss */
#wrapper.active {
  height: 100vh;
  overflow: hidden;
}

/* Fin Wrapper*/
/*Header*/
/* line 51, ../scss/styles.scss */
#header {
  height: 5rem;
  padding: 0 2rem;
  background-color: #011d26;
}

/* line 56, ../scss/styles.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/*Fin Header*/
/*Menu*/
/* line 64, ../scss/styles.scss */
.menu {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* line 73, ../scss/styles.scss */
.menuburger {
  width: 100%;
  height: 1.2rem;
  position: relative;
}

/* line 78, ../scss/styles.scss */
.menuburger-ligne {
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  background-color: #3ffba6;
}

/* line 85, ../scss/styles.scss */
.menuburger-ligne-1 {
  top: 0;
}

/* line 88, ../scss/styles.scss */
.menuburger-ligne-2 {
  top: 0.6rem;
}

/* line 91, ../scss/styles.scss */
.menuburger-ligne-3 {
  top: 1.2rem;
  width: 60%;
}

/*Fin Menu*/
/* Logo */
/* line 99, ../scss/styles.scss */
.logo p {
  font-weight: bold;
  font-size: 2.4rem;
}
/* line 103, ../scss/styles.scss */
.logo p a {
  font-family: 'lobster two';
}
/* line 107, ../scss/styles.scss */
.logo p > span {
  color: #3ffba6;
}
/* line 111, ../scss/styles.scss */
.logo p span + span {
  color: #3ffba6;
}

/*Fin Logo*/
/* Account */
/* line 118, ../scss/styles.scss */
.account {
  font-size: 1.8rem;
  color: #3ffba6;
}

/* MenuLink */
/* line 123, ../scss/styles.scss */
.menulink {
  position: absolute;
  left: -200%;
  width: 100%;
  right: 0;
  background-color: #011d26;
  height: 100vh;
  z-index: 1;
  color: #ffffff;
  top: 5rem;
  border-top: 0.2rem solid #3ffba6;
  padding: 2rem;
  transition: left 0.3s ease-in-out;
  font-size: 2rem;
}
/* line 138, ../scss/styles.scss */
.menulink.active {
  left: 0;
}

/* line 142, ../scss/styles.scss */
.menulink li {
  padding: 1.5rem 0;
}
/* line 145, ../scss/styles.scss */
.menulink li.active {
  background-color: #3ffba6;
  color: #011d26;
}
/* line 149, ../scss/styles.scss */
.menulink li.active span:nth-child(1) {
  color: #011d26;
}

/* line 154, ../scss/styles.scss */
.menulink a {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* line 159, ../scss/styles.scss */
.menulink span:nth-child(1) {
  color: #3ffba6;
}

/*Fin MenuLink*/
/*Main*/
/* line 165, ../scss/styles.scss */
.video {
  width: 100%;
  height: 100vh;
  max-height: 55rem;
  min-height: 40rem;
  overflow: hidden;
  position: relative;
}

/* line 173, ../scss/styles.scss */
.video video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-position: center;
  z-index: -2;
}

/* line 184, ../scss/styles.scss */
.video::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.82);
}

/* line 193, ../scss/styles.scss */
.video h1 {
  width: 90%;
  margin: 1rem auto;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  color: #3ffba6;
}
/* line 201, ../scss/styles.scss */
.video h1 span {
  color: #ffffff;
  display: block;
}

/* line 206, ../scss/styles.scss */
.video .text-accroche {
  width: 60%;
  margin: 5rem auto 0;
  text-align: center;
}
/* line 211, ../scss/styles.scss */
.video .text-accroche a {
  width: 100%;
  margin-top: 2rem;
  font-size: 3.2rem;
  color: #3ffba6;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 222, ../scss/styles.scss */
.video .form-search {
  width: 90%;
  margin: 8rem auto 4rem;
}

/* line 226, ../scss/styles.scss */
.form-search input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 9999rem;
  height: 100%;
  color: #011d26;
}

/* line 233, ../scss/styles.scss */
.form-search .input-control {
  width: 100%;
  position: relative;
  height: 4rem;
}

/* line 238, ../scss/styles.scss */
.input-control p {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
  background: #011d26;
  font-size: 1.2rem;
}

/* line 252, ../scss/styles.scss */
.input-control span {
  color: #ffffff;
}

/* line 255, ../scss/styles.scss */
::placeholder {
  text-align: center;
  font-size: 1.4rem;
  color: #011d26;
  font-weight: bold;
}

/* Nos recentes publications */
/* line 263, ../scss/styles.scss */
.recent-posts {
  color: #000;
  padding: 4rem 2rem;
  position: relative;
  /* loadingprofil */
}
/* line 269, ../scss/styles.scss */
.recent-posts .loadingprofil {
  position: absolute;
  top: 25rem;
  left: 50%;
  z-index: -1;
  transform: translate(-50%);
  opacity: 0;
}
/* line 278, ../scss/styles.scss */
.recent-posts h2 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  font-weight: bold;
  text-align: center;
  font-family: 'lobster two';
  color: #011d26;
}

/* line 287, ../scss/styles.scss */
.recent-posts-bloc {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  position: relative;
  z-index: 1;
}
/* line 293, ../scss/styles.scss */
.recent-posts-bloc::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  right: -3%;
  top: 3%;
  background: rgba(0, 0, 0, 0.04);
  z-index: -1;
  position: absolute;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

/* line 307, ../scss/styles.scss */
.recent-posts-article-categories {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
}
/* line 313, ../scss/styles.scss */
.recent-posts-article-categories span {
  color: #011d26;
  font-weight: bold;
}

/* Filtre */
/* line 319, ../scss/styles.scss */
.recent-posts-filtre {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* line 325, ../scss/styles.scss */
.recent-posts-filtre-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #011d26;
  min-width: 20rem;
}

/* line 332, ../scss/styles.scss */
.recent-posts-filtre-title span {
  color: #E55812;
  font-size: 2rem;
  margin: 0 1rem;
}

/* line 337, ../scss/styles.scss */
.recent-posts-filtre-categorie-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

/* line 345, ../scss/styles.scss */
.recent-posts-filtre-categorie {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.75rem 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 9999rem;
  color: #011d26;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
/* line 356, ../scss/styles.scss */
.recent-posts-filtre-categorie.active {
  background-color: #011d26;
  color: #ffffff;
}
/* line 360, ../scss/styles.scss */
.recent-posts-filtre-categorie.active a {
  color: #3ffba6;
}
/* line 365, ../scss/styles.scss */
.recent-posts-filtre-categorie a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
}

/* line 370, ../scss/styles.scss */
.recent-posts-info {
  text-align: right;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  color: #E55812;
}

/* line 372, ../scss/styles.scss */
.recent-posts-image {
  width: 100%;
  height: 20rem;
  background: #ffffff;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.04);
}
/* line 379, ../scss/styles.scss */
.recent-posts-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

/* line 387, ../scss/styles.scss */
.recent-posts-main {
  padding: 2rem 1rem;
  background: #ffffff;
}

/* line 391, ../scss/styles.scss */
.recent-posts-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3rem;
}

/* line 397, ../scss/styles.scss */
.recent-posts-bloc {
  width: 100%;
}

/* line 400, ../scss/styles.scss */
.recent-posts-title {
  margin-bottom: 1rem;
  color: #E55812;
  font-weight: bold;
}

/* line 405, ../scss/styles.scss */
.recent-posts-more {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

/* line 410, ../scss/styles.scss */
.recent-posts-more a {
  padding: 0.75rem 1rem;
  width: 16rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: #011d26;
}

/* Fin Main*/
/** Temoignages */
/* line 424, ../scss/styles.scss */
#temoignages {
  padding: 6rem 1rem;
  background-color: #011d26;
  color: #000;
  overflow: hidden;
}

/* line 430, ../scss/styles.scss */
.temoignages h2 {
  color: #3ffba6;
  font-family: 'lobster two';
  font-size: 3.2rem;
  min-width: 30rem;
  margin-bottom: 3rem;
  text-align: center;
}

/* line 438, ../scss/styles.scss */
.temoignages h2 span {
  line-height: 1.5;
}

/* line 441, ../scss/styles.scss */
.temoignages__navigation__bloc {
  display: flex;
}

/* line 444, ../scss/styles.scss */
.temoignages__navigation__left {
  position: relative;
  top: 0;
  left: 0;
}

/* line 449, ../scss/styles.scss */
.temoignages__navigation__right {
  position: relative;
  top: 0;
  right: calc(-100% + 7rem);
}

/* line 454, ../scss/styles.scss */
.temoignages__navigation {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #011d26;
  border: 0.1rem solid rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  margin-bottom: 3rem;
  cursor: pointer;
}

/* line 466, ../scss/styles.scss */
.temoignages__navigation__left {
  display: none;
}

/* line 469, ../scss/styles.scss */
.temoignages__navigation__left.active,
.temoignages__navigation__right.active {
  display: flex;
  background-color: #3ffba6;
  color: #011d26;
}

/* line 475, ../scss/styles.scss */
.temoignages__navigation__right {
  display: none;
}

/* line 478, ../scss/styles.scss */
.temoignages__bloc {
  min-width: 30rem;
  position: relative;
}

/* line 482, ../scss/styles.scss */
.temoignages__bloc__group {
  width: 96%;
  transition: transform 0.3s ease-in;
}

/* line 486, ../scss/styles.scss */
.temoignages__bloc__comments {
  background: #000000;
  color: #ffffff;
  position: relative;
  border-radius: 0.5rem;
}

/* line 492, ../scss/styles.scss */
.temoignages__bloc__comments_user {
  padding: 0 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.04);
}

/* line 496, ../scss/styles.scss */
.temoignages blockquote i {
  display: block;
  padding: 0.5rem 0;
  font-size: 2.8rem;
  color: #3ffba6;
  cursor: pointer;
}

/* line 503, ../scss/styles.scss */
blockquote p {
  margin-bottom: 0;
  padding: 0 0 0 2rem;
}

/* line 507, ../scss/styles.scss */
blockquote p + i {
  text-align: right;
}

/* line 510, ../scss/styles.scss */
.temoignages cite {
  display: block;
  text-align: right;
}

/* line 514, ../scss/styles.scss */
.temoignages cite span::before {
  content: "_";
  font-size: 2rem;
}

/* line 518, ../scss/styles.scss */
.temoignages cite span {
  font-size: 1.2rem;
  font-style: italic;
  color: #E55812;
}

/* line 523, ../scss/styles.scss */
.temoignages__bloc__design {
  width: 3rem;
  height: 3rem;
  background-color: #000000;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.04);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.04);
  position: relative;
  transform: rotate(45deg);
  top: -1.5rem;
  left: 4rem;
  display: none;
}

/* line 536, ../scss/styles.scss */
.temoignages__bloc__profil {
  width: 5rem;
  height: 5rem;
  margin-left: 3rem;
  padding: 0.4rem;
  border: 0.3rem solid #000000;
  background-color: #000000;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -6rem;
}

/* line 548, ../scss/styles.scss */
.temoignages__bloc__profil img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  filter: grayscale(100%);
  opacity: 0.75;
}

/* line 556, ../scss/styles.scss */
.temoignages__bloc {
  display: flex;
  gap: 1rem;
}

/* line 561, ../scss/styles.scss */
.temoignages__bloc__group {
  width: 96%;
  max-width: 30rem;
  flex-shrink: 0;
}

/* Fin Temoignages */
/* Contact */
/* line 568, ../scss/styles.scss */
#contact {
  width: 100%;
  color: #000000;
}
/* line 572, ../scss/styles.scss */
#contact .contact {
  padding: 6rem 1rem;
}
/* line 575, ../scss/styles.scss */
#contact h2 {
  font-size: 3.2rem;
  margin-bottom: 4rem;
  font-weight: bold;
  text-align: center;
  font-family: 'lobster two';
  color: #011d26;
}
/* line 583, ../scss/styles.scss */
#contact .contact-social-media {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/* line 588, ../scss/styles.scss */
#contact b {
  font-size: 2rem;
  color: #011d26;
}
/* line 592, ../scss/styles.scss */
#contact .contact-social-media-bloc {
  border: 0.1rem solid rgba(0, 0, 0, 0.04);
  background-color: rgba(0, 0, 0, 0.02);
  margin: 0 auto;
  width: 100%;
  padding: 3rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
/* line 604, ../scss/styles.scss */
#contact .contact-social-media-bloc p {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
/* line 610, ../scss/styles.scss */
#contact .contact-social-media-bloc span:nth-child(1) {
  font-size: 5.2rem;
  color: #E55812;
}

/* Footer */
/* line 617, ../scss/styles.scss */
#footer {
  background-color: #011d26;
  margin-top: auto;
  border-top: 0.2rem solid #3ffba6;
}

/* line 622, ../scss/styles.scss */
.footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 628, ../scss/styles.scss */
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* line 634, ../scss/styles.scss */
.footer-copyright .designer span {
  color: #3ffba6;
}

/** Description Article **/
/* line 638, ../scss/styles.scss */
.description-article-header-img {
  height: 42rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.4rem solid #3ffba6;
}

/* line 648, ../scss/styles.scss */
.description-article-header-img p {
  width: 100%;
  height: 100%;
}
/* line 651, ../scss/styles.scss */
.description-article-header-img p::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
/* line 661, ../scss/styles.scss */
.description-article-header-img p img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* line 669, ../scss/styles.scss */
.description-article-header-titre,
.description-article-header-date-publication {
  position: absolute;
  z-index: 2;
}

/* line 674, ../scss/styles.scss */
.description-article-header-titre {
  font-size: 3.2rem;
  width: 30rem;
  font-weight: bold;
  text-align: center;
  font-family: 'lobster two';
  color: #3ffba6;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  border: 0.1rem solid #3ffba6;
  background: rgba(0, 0, 0, 0.95);
}

/* line 686, ../scss/styles.scss */
.description-article-header-date-publication {
  color: #ffffff;
  margin-top: 15rem;
  font-weight: bold;
  font-size: 2rem;
}

/* line 692, ../scss/styles.scss */
.description-article-commentaires-input-control {
  margin-bottom: 2rem;
}

/* line 695, ../scss/styles.scss */
.description-article-details {
  padding: 6rem 2rem;
  color: #000000;
  line-height: 2;
}
/* line 700, ../scss/styles.scss */
.description-article-details div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* line 707, ../scss/styles.scss */
.description-article-details span {
  color: #E55812;
}
/* line 710, ../scss/styles.scss */
.description-article-details strong {
  color: #011d26;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  margin: 2rem 0;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.02);
}
/* line 721, ../scss/styles.scss */
.description-article-details p {
  width: 100%;
}

/* line 725, ../scss/styles.scss */
.description-article-commentaires {
  margin-top: 3rem;
  width: 100%;
  max-width: 50rem;
}
/* line 730, ../scss/styles.scss */
.description-article-commentaires legend {
  color: #011d26;
  font-family: 'lobster two';
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 3.2rem;
}
/* line 737, ../scss/styles.scss */
.description-article-commentaires textarea, .description-article-commentaires input {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
}
/* line 742, ../scss/styles.scss */
.description-article-commentaires input::placeholder {
  color: inherit;
  text-align: left;
  font-weight: normal;
  opacity: 0.5;
}
/* line 748, ../scss/styles.scss */
.description-article-commentaires input[type="submit"] {
  background-color: #3ffba6;
  color: #011d26;
  font-size: 1.8rem;
  font-weight: bold;
}

@keyframes slipeupdown {
  0% {
    top: 0;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    top: 0.5rem;
    transform: scale(1.2);
    opacity: 0.3;
  }
}
/* line 767, ../scss/styles.scss */
.recent-posts-more .fa-chevron-down {
  position: relative;
  top: 0;
  animation: slipeupdown 1.2s alternate infinite;
}

/* line 772, ../scss/styles.scss */
.text-accroche .fa-chevron-down {
  position: relative;
  top: 0;
  animation: slipeupdown 1.2s alternate infinite;
}

/* Page de connexion */
/* line 778, ../scss/styles.scss */
#connexion {
  padding: 0 2rem;
}

/* line 781, ../scss/styles.scss */
.connexion-bloc {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 36rem;
}
/* line 789, ../scss/styles.scss */
.connexion-bloc .connexion-bloc-app {
  color: #000;
}
/* line 792, ../scss/styles.scss */
.connexion-bloc .connexion-bloc-app p {
  line-height: 2;
}
/* line 797, ../scss/styles.scss */
.connexion-bloc h2 {
  margin-bottom: 3rem;
  font-family: 'lobster two';
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.5;
}
/* line 804, ../scss/styles.scss */
.connexion-bloc .form-connexion {
  width: 100%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 32rem;
  padding: 4rem 2rem;
  background-color: #011d26;
  color: #ffffff;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
/* line 817, ../scss/styles.scss */
.connexion-bloc legend {
  background-color: #3ffba6;
  position: absolute;
  bottom: -26rem;
  padding: 2rem;
  color: #011d26;
  font-size: 2.2rem;
  width: 64rem;
  height: 32rem;
  text-align: center;
  padding: 2rem 0;
  border-radius: 50%;
  left: -50%;
}
/* line 831, ../scss/styles.scss */
.connexion-bloc .connexion-input-control {
  margin-bottom: 1.5rem;
}
/* line 834, ../scss/styles.scss */
.connexion-bloc input {
  padding: 1.25rem 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: 100%;
  color: #000;
}
/* line 841, ../scss/styles.scss */
.connexion-bloc input[type="submit"] {
  color: #011d26;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  border: 0.1rem solid #ffffff;
  transition: background-color 0.3s ease-in-out;
}
/* line 851, ../scss/styles.scss */
.connexion-bloc input[type="submit"]:hover {
  background-color: #3ffba6;
  color: #011d26;
}
/* line 856, ../scss/styles.scss */
.connexion-bloc ::placeholder {
  text-align: left;
  font-weight: normal;
  opacity: 0.5;
}

@media screen and (min-width: 540px) {
  /* line 864, ../scss/styles.scss */
  .recent-posts, .footer, #temoignages, .contact {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* Nos recentes publications */
  /* line 870, ../scss/styles.scss */
  .recent-posts h2, .contact h2 {
    font-size: 3.2rem;
  }

  /* line 874, ../scss/styles.scss */
  .recent-posts-group {
    flex-direction: row;
    gap: 2rem;
  }

  /* line 878, ../scss/styles.scss */
  .recent-posts-bloc {
    margin-bottom: 4rem;
    width: calc(50% - 1rem);
  }

  /* line 882, ../scss/styles.scss */
  .video h1 {
    font-size: 3.2rem;
  }

  /* line 885, ../scss/styles.scss */
  .temoignages__bloc {
    gap: 2rem;
  }

  /* line 888, ../scss/styles.scss */
  .temoignages__bloc__profil {
    top: 0;
  }

  /* line 891, ../scss/styles.scss */
  .temoignages__bloc__design {
    display: block;
  }

  /* line 895, ../scss/styles.scss */
  #contact .contact-social-media {
    flex-direction: row;
    width: 60%;
    margin: auto;
  }
  /* line 900, ../scss/styles.scss */
  #contact .contact-social-media-bloc {
    width: calc(33% - 1rem);
  }

  /* line 904, ../scss/styles.scss */
  .description-article-header-titre {
    font-size: 4.2rem;
    width: auto;
  }
}
@media screen and (min-width: 780px) {
  /* line 910, ../scss/styles.scss */
  #header {
    height: auto;
    border-bottom: 0.2rem solid #3ffba6;
  }

  /* line 914, ../scss/styles.scss */
  .menu {
    display: none;
  }

  /* line 917, ../scss/styles.scss */
  #nav {
    order: 2;
    height: 100%;
  }
  /* line 921, ../scss/styles.scss */
  #nav .menulink {
    border: 0 none;
    width: auto;
    position: static;
    display: flex;
    height: 100%;
    z-index: 0;
    padding: 0;
    font-size: 1.6rem;
    background-color: transparent;
  }
  /* line 932, ../scss/styles.scss */
  #nav .menulink li {
    padding: 0 1rem;
    width: 11rem;
    padding: 1rem 2rem;
  }
  /* line 937, ../scss/styles.scss */
  #nav .menulink a {
    flex-direction: column;
    gap: 0.5rem;
  }
  /* line 941, ../scss/styles.scss */
  #nav .menulink span:nth-child(1) {
    font-size: 2rem;
  }

  /* line 945, ../scss/styles.scss */
  .logo {
    order: 1;
  }
  /* line 948, ../scss/styles.scss */
  .logo p {
    font-size: 3.2rem;
  }
  /* line 951, ../scss/styles.scss */
  .logo a {
    font-size: 2.4rem;
  }

  /* line 955, ../scss/styles.scss */
  .account {
    order: 3;
  }

  /* line 958, ../scss/styles.scss */
  .video {
    min-height: 60rem;
  }

  /* line 961, ../scss/styles.scss */
  .video h1 {
    font-size: 5.2rem;
  }

  /* line 964, ../scss/styles.scss */
  .video > p {
    width: 50%;
  }

  /* line 967, ../scss/styles.scss */
  .video .form-search {
    width: 60%;
    margin-top: 12rem;
    margin-bottom: 6rem;
  }

  /* line 973, ../scss/styles.scss */
  #connexion .form-connexion {
    margin-left: auto;
    margin-right: 0;
    flex-shrink: 0;
  }
  /* line 978, ../scss/styles.scss */
  #connexion .connexion-bloc {
    padding-top: 12rem;
    padding-bottom: 12rem;
    flex-direction: row;
    align-items: flex-start;
  }
  /* line 984, ../scss/styles.scss */
  #connexion .connexion-bloc-app {
    max-width: 80rem;
  }
  /* line 986, ../scss/styles.scss */
  #connexion .connexion-bloc-app h2 {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 1024px) {
  /* line 996, ../scss/styles.scss */
  .logo a {
    font-size: 3rem;
  }

  /* line 1000, ../scss/styles.scss */
  .recent-posts-group {
    gap: 3rem;
  }

  /* line 1003, ../scss/styles.scss */
  .recent-posts-bloc {
    width: calc(25% - 2.25rem);
  }

  /* line 1006, ../scss/styles.scss */
  #nav .menulink li {
    width: 12rem;
    margin-left: 0.5rem;
  }

  /* line 1010, ../scss/styles.scss */
  .description-article-details p {
    width: 80rem;
  }

  /* line 1013, ../scss/styles.scss */
  .recent-posts-filtre {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  /* line 1021, ../scss/styles.scss */
  .header, .mainheader, .footer, .recent-posts, .temoignages, .description-article-details,
  .connexion-bloc {
    width: 120rem;
    margin: auto;
  }
}
