/* line 5, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Declaration des variables */
/* Devices */
/* line 6, ../scss/styles.scss */
*, ::after, ::before {
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  outline: none;
  border: none;
  color: inherit;
  text-decoration: none;
  line-height: 1.5;
}

/* line 15, ../scss/styles.scss */
html {
  font-size: 62.5%;
}

/* line 18, ../scss/styles.scss */
body {
  font-size: 1.6rem;
  font-family: nunito, sans-serif;
}

/* line 22, ../scss/styles.scss */
textarea {
  resize: none;
}

/* Works on Firefox */
/* line 26, ../scss/styles.scss */
* {
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: #3ffba6 #011d26;
}

/* Works on Chrome, Edge, and Safari */
/* line 32, ../scss/styles.scss */
*::-webkit-scrollbar {
  width: 0.6rem;
}

/* line 36, ../scss/styles.scss */
*::-webkit-scrollbar-track {
  background: #011d26;
}

/* line 40, ../scss/styles.scss */
*::-webkit-scrollbar-thumb {
  background-color: #3ffba6;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

/* loadingprofil */
/* line 46, ../scss/styles.scss */
.loadingprofil {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* line 54, ../scss/styles.scss */
.message--erreur {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #dc3545;
}

/* line 60, ../scss/styles.scss */
.message--erreur--custom {
  font-weight: bold;
  color: #dc3545;
  text-align: center;
  padding: 0.5rem 0;
}

/* line 66, ../scss/styles.scss */
.message--succes {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #198754;
}

/* line 73, ../scss/styles.scss */
#search + p {
  cursor: pointer;
}

/* line 76, ../scss/styles.scss */
#search.active {
  border-radius: 0;
  transition: 0.1s border-radius ease-in-out;
}

/* line 80, ../scss/styles.scss */
.searchmessage .result {
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  background-color: #011d26;
  padding: 1.25rem 1rem;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
/* line 87, ../scss/styles.scss */
.searchmessage .result a {
  display: block;
  cursor: pointer;
}

/* line 92, ../scss/styles.scss */
.searchmessage .result:hover {
  color: #3ffba6;
}

/* Wrapper */
/* line 99, ../scss/styles.scss */
#wrapper {
  color: #fafafa;
  position: relative;
  min-width: 36rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* line 108, ../scss/styles.scss */
#wrapper.active {
  height: 100vh;
  overflow: hidden;
}

/* Fin Wrapper*/
/*Header*/
/* line 115, ../scss/styles.scss */
#header {
  height: 5rem;
  padding: 0 2rem;
  background-color: #011d26;
}

/* line 120, ../scss/styles.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/*Fin Header*/
/*Menu*/
/* line 128, ../scss/styles.scss */
.menu {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* line 137, ../scss/styles.scss */
.menuburger {
  width: 100%;
  height: 1.2rem;
  position: relative;
}

/* line 142, ../scss/styles.scss */
.menuburger-ligne {
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  background-color: #3ffba6;
}

/* line 149, ../scss/styles.scss */
.menuburger-ligne-1 {
  top: 0;
}

/* line 152, ../scss/styles.scss */
.menuburger-ligne-2 {
  top: 0.6rem;
}

/* line 155, ../scss/styles.scss */
.menuburger-ligne-3 {
  top: 1.2rem;
  width: 60%;
}

/*Fin Menu*/
/* Logo */
/* line 163, ../scss/styles.scss */
.logo p {
  font-weight: bold;
  font-size: 2.4rem;
}
/* line 167, ../scss/styles.scss */
.logo p a {
  font-family: 'lobster two';
}
/* line 171, ../scss/styles.scss */
.logo p > span {
  color: #3ffba6;
}
/* line 175, ../scss/styles.scss */
.logo p span + span {
  color: #3ffba6;
}

/*Fin Logo*/
/* Account */
/* line 182, ../scss/styles.scss */
.account {
  font-size: 1.8rem;
  color: #3ffba6;
}

/* MenuLink */
/* line 187, ../scss/styles.scss */
.menulink {
  position: absolute;
  left: -200%;
  width: 100%;
  right: 0;
  background-color: #011d26;
  height: 100vh;
  z-index: 1;
  color: #ffffff;
  top: 5rem;
  border-top: 0.2rem solid #3ffba6;
  padding: 2rem;
  transition: left 0.3s ease-in-out;
  font-size: 2rem;
}
/* line 202, ../scss/styles.scss */
.menulink.active {
  left: 0;
}

/* line 206, ../scss/styles.scss */
.menulink li {
  padding: 1.5rem 0;
}
/* line 209, ../scss/styles.scss */
.menulink li.active {
  background-color: #3ffba6;
  color: #011d26;
}
/* line 213, ../scss/styles.scss */
.menulink li.active span:nth-child(1) {
  color: #011d26;
}

/* line 218, ../scss/styles.scss */
.menulink a {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* line 223, ../scss/styles.scss */
.menulink span:nth-child(1) {
  color: #3ffba6;
}

/*Fin MenuLink*/
/*Main*/
/* line 229, ../scss/styles.scss */
.video {
  width: 100%;
  height: 100vh;
  max-height: 55rem;
  min-height: 40rem;
  overflow: hidden;
  position: relative;
}

/* line 237, ../scss/styles.scss */
.video video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-position: center;
  z-index: -2;
}

/* line 248, ../scss/styles.scss */
.video::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.82);
}

/* line 257, ../scss/styles.scss */
.video h1 {
  width: 90%;
  margin: 1rem auto;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  color: #3ffba6;
}
/* line 265, ../scss/styles.scss */
.video h1 span {
  color: #ffffff;
  display: block;
}

/* line 270, ../scss/styles.scss */
.video .text-accroche {
  width: 60%;
  margin: 5rem auto 0;
  text-align: center;
}
/* line 275, ../scss/styles.scss */
.video .text-accroche a {
  width: 100%;
  margin-top: 2rem;
  font-size: 3.2rem;
  color: #3ffba6;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 286, ../scss/styles.scss */
.video .form-search {
  width: 90%;
  margin: 8rem auto 4rem;
}

/* line 290, ../scss/styles.scss */
.form-search input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 9999rem;
  height: 100%;
  color: #011d26;
}

/* line 297, ../scss/styles.scss */
.form-search .input-control {
  width: 100%;
  position: relative;
  height: 4rem;
}

/* line 302, ../scss/styles.scss */
.input-control p {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
  background: #011d26;
  font-size: 1.2rem;
}

/* line 316, ../scss/styles.scss */
.input-control span {
  color: #ffffff;
}

/* line 319, ../scss/styles.scss */
::placeholder {
  text-align: center;
  font-size: 1.4rem;
  color: #011d26;
  font-weight: bold;
}

/* Nos recentes publications */
/* line 327, ../scss/styles.scss */
.recent-posts {
  color: #000;
  padding: 4rem 2rem;
  position: relative;
}
/* line 332, ../scss/styles.scss */
.recent-posts h2 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  font-weight: bold;
  text-align: center;
  font-family: 'lobster two';
  color: #011d26;
}

/* line 341, ../scss/styles.scss */
.recent-posts-bloc {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  position: relative;
  z-index: 1;
}
/* line 347, ../scss/styles.scss */
.recent-posts-bloc::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  right: -3%;
  top: 3%;
  background: rgba(0, 0, 0, 0.04);
  z-index: -1;
  position: absolute;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

/* line 361, ../scss/styles.scss */
.recent-posts-article-categories {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
}
/* line 367, ../scss/styles.scss */
.recent-posts-article-categories span {
  color: #011d26;
  font-weight: bold;
}

/* Filtre */
/* line 373, ../scss/styles.scss */
.recent-posts-filtre {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* line 379, ../scss/styles.scss */
.recent-posts-filtre-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #011d26;
  min-width: 20rem;
}

/* line 386, ../scss/styles.scss */
.recent-posts-filtre-title span {
  color: #E55812;
  font-size: 2rem;
  margin: 0 1rem;
}

/* line 391, ../scss/styles.scss */
.recent-posts-filtre-categorie-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

/* line 399, ../scss/styles.scss */
.recent-posts-filtre-categorie {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.75rem 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 9999rem;
  color: #011d26;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
/* line 410, ../scss/styles.scss */
.recent-posts-filtre-categorie.active {
  background-color: #011d26;
  color: #ffffff;
}
/* line 414, ../scss/styles.scss */
.recent-posts-filtre-categorie.active a {
  color: #3ffba6;
}
/* line 419, ../scss/styles.scss */
.recent-posts-filtre-categorie a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
}

/* line 424, ../scss/styles.scss */
.recent-posts-info {
  text-align: right;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  color: #E55812;
}

/* line 426, ../scss/styles.scss */
.recent-posts-image {
  width: 100%;
  height: 20rem;
  background: #ffffff;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.04);
}
/* line 433, ../scss/styles.scss */
.recent-posts-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

/* line 441, ../scss/styles.scss */
.recent-posts-main {
  padding: 2rem 1rem;
  background: #ffffff;
}

/* line 445, ../scss/styles.scss */
.recent-posts-group,
.moreArticles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3rem;
}

/* line 452, ../scss/styles.scss */
.recent-posts-bloc {
  width: 100%;
}

/* line 455, ../scss/styles.scss */
.recent-posts-title {
  margin-bottom: 1rem;
  color: #E55812;
  font-weight: bold;
}

/* line 460, ../scss/styles.scss */
.recent-posts-more {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

/* line 465, ../scss/styles.scss */
.recent-posts-more a {
  padding: 0.75rem 1rem;
  width: 16rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: #011d26;
}

/* Fin Main*/
/** Temoignages */
/* line 479, ../scss/styles.scss */
#temoignages {
  padding: 6rem 1rem;
  background-color: #011d26;
  color: #000;
  overflow: hidden;
}

/* line 485, ../scss/styles.scss */
.temoignages h2 {
  color: #3ffba6;
  font-family: 'lobster two';
  font-size: 3.2rem;
  min-width: 30rem;
  margin-bottom: 3rem;
  text-align: center;
}

/* line 493, ../scss/styles.scss */
.temoignages h2 span {
  line-height: 1.5;
}

/* line 496, ../scss/styles.scss */
.temoignages__navigation__bloc {
  display: flex;
}

/* line 499, ../scss/styles.scss */
.temoignages__navigation__left {
  position: relative;
  top: 0;
  left: 0;
}

/* line 504, ../scss/styles.scss */
.temoignages__navigation__right {
  position: relative;
  top: 0;
  right: calc(-100% + 7rem);
}

/* line 509, ../scss/styles.scss */
.temoignages__navigation {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #011d26;
  border: 0.1rem solid rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  margin-bottom: 3rem;
  cursor: pointer;
}

/* line 521, ../scss/styles.scss */
.temoignages__navigation__left {
  display: none;
}

/* line 524, ../scss/styles.scss */
.temoignages__navigation__left.active,
.temoignages__navigation__right.active {
  display: flex;
  background-color: #3ffba6;
  color: #011d26;
}

/* line 530, ../scss/styles.scss */
.temoignages__navigation__right {
  display: none;
}

/* line 533, ../scss/styles.scss */
.temoignages__bloc {
  min-width: 30rem;
  position: relative;
}

/* line 537, ../scss/styles.scss */
.temoignages__bloc__group {
  width: 96%;
  transition: transform 0.3s ease-in;
}

/* line 541, ../scss/styles.scss */
.temoignages__bloc__comments {
  background: #000000;
  color: #ffffff;
  position: relative;
  border-radius: 0.5rem;
}

/* line 547, ../scss/styles.scss */
.temoignages__bloc__comments_user {
  padding: 0 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.04);
}

/* line 551, ../scss/styles.scss */
.temoignages blockquote i {
  display: block;
  padding: 0.5rem 0;
  font-size: 2.8rem;
  color: #3ffba6;
  cursor: pointer;
}

/* line 558, ../scss/styles.scss */
blockquote p {
  margin-bottom: 0;
  padding: 0 0 0 2rem;
}

/* line 562, ../scss/styles.scss */
blockquote p + i {
  text-align: right;
}

/* line 565, ../scss/styles.scss */
.temoignages cite {
  display: block;
  text-align: right;
}

/* line 569, ../scss/styles.scss */
.temoignages cite span::before {
  content: "_";
  font-size: 2rem;
}

/* line 573, ../scss/styles.scss */
.temoignages cite span {
  font-size: 1.2rem;
  font-style: italic;
  color: #E55812;
}

/* line 578, ../scss/styles.scss */
.temoignages__bloc__design {
  width: 3rem;
  height: 3rem;
  background-color: #000000;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.04);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.04);
  position: relative;
  transform: rotate(45deg);
  top: -1.5rem;
  left: 4rem;
  display: none;
}

/* line 591, ../scss/styles.scss */
.temoignages__bloc__profil {
  width: 5rem;
  height: 5rem;
  margin-left: 3rem;
  padding: 0.4rem;
  border: 0.3rem solid #000000;
  background-color: #000000;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -6rem;
}

/* line 603, ../scss/styles.scss */
.temoignages__bloc__profil img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  filter: grayscale(100%);
  opacity: 0.75;
}

/* line 611, ../scss/styles.scss */
.temoignages__bloc {
  display: flex;
  gap: 1rem;
}

/* line 616, ../scss/styles.scss */
.temoignages__bloc__group {
  width: 96%;
  max-width: 30rem;
  flex-shrink: 0;
}

/* Fin Temoignages */
/* Contact */
/* line 623, ../scss/styles.scss */
#contact {
  width: 100%;
  color: #000000;
}
/* line 627, ../scss/styles.scss */
#contact .contact {
  padding: 6rem 1rem;
}
/* line 630, ../scss/styles.scss */
#contact h2 {
  font-size: 3.2rem;
  margin-bottom: 4rem;
  font-weight: bold;
  text-align: center;
  font-family: 'lobster two';
  color: #011d26;
}
/* line 638, ../scss/styles.scss */
#contact .contact-social-media {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/* line 643, ../scss/styles.scss */
#contact b {
  font-size: 2rem;
  color: #011d26;
}
/* line 647, ../scss/styles.scss */
#contact .contact-social-media-bloc {
  border: 0.1rem solid rgba(0, 0, 0, 0.04);
  background-color: rgba(0, 0, 0, 0.02);
  margin: 0 auto;
  width: 100%;
  padding: 3rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
/* line 659, ../scss/styles.scss */
#contact .contact-social-media-bloc p {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
/* line 665, ../scss/styles.scss */
#contact .contact-social-media-bloc span:nth-child(1) {
  font-size: 5.2rem;
  color: #E55812;
}

/* Footer */
/* line 672, ../scss/styles.scss */
#footer {
  background-color: #011d26;
  margin-top: auto;
  border-top: 0.4rem solid #3ffba6;
}

/* line 677, ../scss/styles.scss */
.footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 683, ../scss/styles.scss */
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* line 689, ../scss/styles.scss */
.footer-copyright .designer span {
  color: #3ffba6;
}

/** Description Article **/
/* line 693, ../scss/styles.scss */
.description-article-header-img {
  height: 42rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.4rem solid #3ffba6;
}

/* line 703, ../scss/styles.scss */
.description-article-header-img p {
  width: 100%;
  height: 100%;
}
/* line 706, ../scss/styles.scss */
.description-article-header-img p::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
/* line 716, ../scss/styles.scss */
.description-article-header-img p img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* line 724, ../scss/styles.scss */
.description-article-header-titre,
.description-article-header-date-publication {
  position: absolute;
  z-index: 2;
}

/* line 729, ../scss/styles.scss */
.description-article-header-titre {
  font-size: 3.2rem;
  width: 30rem;
  font-weight: bold;
  text-align: center;
  font-family: 'lobster two';
  color: #3ffba6;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  border: 0.1rem solid #3ffba6;
  background: rgba(0, 0, 0, 0.95);
}

/* line 741, ../scss/styles.scss */
.description-article-header-date-publication {
  color: #ffffff;
  margin-top: 15rem;
  font-weight: bold;
  font-size: 2rem;
}

/* line 747, ../scss/styles.scss */
.description-article-commentaires-input-control {
  margin-bottom: 1rem;
}
/* line 749, ../scss/styles.scss */
.description-article-commentaires-input-control ::placeholder {
  text-align: left;
  font-weight: normal;
}
/* line 753, ../scss/styles.scss */
.description-article-commentaires-input-control p {
  text-align: right;
}

/* line 757, ../scss/styles.scss */
.description-article-details {
  padding: 6rem 2rem;
  color: #000000;
  line-height: 2;
}
/* line 762, ../scss/styles.scss */
.description-article-details .description-article-details-categorie {
  margin-top: 2rem;
}
/* line 766, ../scss/styles.scss */
.description-article-details span {
  color: #011d26;
}
/* line 769, ../scss/styles.scss */
.description-article-details strong {
  color: #011d26;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  margin: 2rem 0;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.02);
}
/* line 780, ../scss/styles.scss */
.description-article-details p {
  width: 100%;
}

/* line 784, ../scss/styles.scss */
.description-article-commentaires {
  margin-top: 6rem;
  width: 100%;
  max-width: 80rem;
  position: relative;
}
/* line 790, ../scss/styles.scss */
.description-article-commentaires legend {
  color: #011d26;
  font-family: 'lobster two';
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 3.2rem;
}
/* line 797, ../scss/styles.scss */
.description-article-commentaires textarea, .description-article-commentaires input {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
}
/* line 803, ../scss/styles.scss */
.description-article-commentaires textarea {
  height: 24rem;
}
/* line 806, ../scss/styles.scss */
.description-article-commentaires input::placeholder {
  color: inherit;
  text-align: left;
  font-weight: normal;
  opacity: 0.5;
}
/* line 812, ../scss/styles.scss */
.description-article-commentaires input[type="submit"] {
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: #011d26;
  transition: background-color 0.3s ease-in-out;
  font-size: 2rem;
}
/* line 820, ../scss/styles.scss */
.description-article-commentaires input[type="submit"]:hover {
  background-color: #3ffba6;
  color: #011d26;
}

@keyframes slipeupdown {
  0% {
    top: 0;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    top: 0.5rem;
    transform: scale(1.2);
    opacity: 0.3;
  }
}
/* line 838, ../scss/styles.scss */
.recent-posts-more .fa-chevron-down {
  position: relative;
  top: 0;
  animation: slipeupdown 1.2s alternate infinite;
}

/* line 843, ../scss/styles.scss */
.text-accroche .fa-chevron-down {
  position: relative;
  top: 0;
  animation: slipeupdown 1.2s alternate infinite;
}

/* Page de connexion */
/* line 849, ../scss/styles.scss */
#connexion {
  padding: 0 2rem;
}

/* line 852, ../scss/styles.scss */
.connexion-bloc {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 36rem;
}
/* line 860, ../scss/styles.scss */
.connexion-bloc .connexion-bloc-app {
  color: #000;
}
/* line 863, ../scss/styles.scss */
.connexion-bloc .connexion-bloc-app p {
  line-height: 2;
}
/* line 868, ../scss/styles.scss */
.connexion-bloc h2 {
  margin-bottom: 3rem;
  font-family: 'lobster two';
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.5;
}
/* line 875, ../scss/styles.scss */
.connexion-bloc .form-connexion {
  width: 100%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 32rem;
  padding: 4rem 2rem;
  background-color: #011d26;
  color: #ffffff;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
/* line 888, ../scss/styles.scss */
.connexion-bloc legend {
  background-color: #3ffba6;
  position: absolute;
  bottom: -27rem;
  padding: 2rem;
  color: #011d26;
  font-size: 2.2rem;
  width: 64rem;
  height: 32rem;
  text-align: center;
  padding: 2rem 0;
  border-radius: 50%;
  left: -50%;
  transition: bottom 0.3s ease-in-out;
}
/* line 903, ../scss/styles.scss */
.connexion-bloc legend:hover {
  cursor: pointer;
  bottom: -25.5rem;
}
/* line 908, ../scss/styles.scss */
.connexion-bloc .connexion-input-control {
  margin-bottom: 1.5rem;
}
/* line 911, ../scss/styles.scss */
.connexion-bloc input {
  padding: 1.25rem 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: 100%;
  color: #000;
}
/* line 918, ../scss/styles.scss */
.connexion-bloc input[type="submit"] {
  color: #011d26;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  border: 0.1rem solid #ffffff;
  transition: background-color 0.3s ease-in-out;
}
/* line 928, ../scss/styles.scss */
.connexion-bloc input[type="submit"]:hover {
  background-color: #3ffba6;
  color: #011d26;
}
/* line 933, ../scss/styles.scss */
.connexion-bloc ::placeholder {
  text-align: left;
  font-weight: normal;
  opacity: 0.5;
}

/** Commentaires */
/* line 941, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

/* line 945, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  align-items: center;
  gap: 2rem;
}
/* line 952, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group .descriptionArticle-liste-commentaire-description {
  width: calc(100% - 8rem);
  max-width: 80rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.03);
}
/* line 960, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group .descriptionArticle-liste-commentaire-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 964, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group .descriptionArticle-liste-commentaire-title p {
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  padding: 1rem;
}
/* line 972, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group .descriptionArticle-liste-commentaire-title img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  filter: grayscale(80%);
  opacity: 0.5;
}
/* line 980, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group .descriptionArticle-liste-commentaire-title span {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.2rem;
}

/** -- Active Javascript -- */
/* line 988, ../scss/styles.scss */
.activejavascript {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 6rem 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in;
}

/* line 1003, ../scss/styles.scss */
.activejavascript.active {
  opacity: 1;
  z-index: 1;
}

/* line 1008, ../scss/styles.scss */
.activejavascript .activejavascript__popup {
  width: 90%;
  max-width: 40rem;
  max-height: 40rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  padding: 6rem 0;
}

/* line 1022, ../scss/styles.scss */
.jsmessage h1 {
  font-size: 4.8rem;
  color: #011d26;
  font-family: 'lobster two';
}

/* line 1027, ../scss/styles.scss */
.jsmessage a {
  color: #011d26;
  text-decoration: underline;
}

/* line 1031, ../scss/styles.scss */
.jsmessage h1 span {
  color: #3ffba6;
}

/* line 1034, ../scss/styles.scss */
.jsmessage .wrapperclose {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #3ffba6;
  color: #011d26;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  cursor: pointer;
}

/* line 1049, ../scss/styles.scss */
.jsmessage b {
  font-size: 8rem;
  color: #011d26;
  font-family: 'lobster two';
  display: inline-block;
  margin-bottom: 2rem;
}

/* line 1056, ../scss/styles.scss */
.jsmessage p {
  color: #011d26;
  margin-top: 2rem;
}

/*
* ------------------------------------------------------------------------
*                      Page 404 - NOT FOUND 
* ------------------------------------------------------------------------
*/
/* line 1065, ../scss/styles.scss */
.page__not__found__404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

/* line 1074, ../scss/styles.scss */
.page__not__found__404 h1 {
  font-size: 4.8rem;
  color: #011d26;
  font-family: 'lobster two';
}

/* line 1079, ../scss/styles.scss */
.not__found__404 {
  display: flex;
  gap: 1rem;
  font-size: 16rem;
  font-weight: bold;
}

/* line 1085, ../scss/styles.scss */
.not__found__404 span:nth-child(2n+1) {
  color: #3ffba6;
}

/* line 1088, ../scss/styles.scss */
.not__found__404 span:nth-child(2) {
  color: #011d26;
}

/* line 1091, ../scss/styles.scss */
.page__not__found__404 p:nth-child(3) {
  color: #011d26;
}

/* line 1094, ../scss/styles.scss */
.page__not__found__404 a {
  margin-top: 2rem;
  text-decoration: underline;
}

@media screen and (min-width: 540px) {
  /* line 1100, ../scss/styles.scss */
  .recent-posts, .footer, #temoignages, .contact {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* Nos recentes publications */
  /* line 1106, ../scss/styles.scss */
  .recent-posts h2, .contact h2 {
    font-size: 3.2rem;
  }

  /* line 1110, ../scss/styles.scss */
  .recent-posts-group,
  .moreArticles {
    flex-direction: row;
    gap: 2rem;
  }

  /* line 1115, ../scss/styles.scss */
  .recent-posts-bloc {
    margin-bottom: 4rem;
    width: calc(50% - 1rem);
  }

  /* line 1119, ../scss/styles.scss */
  .video h1 {
    font-size: 3.2rem;
  }

  /* line 1122, ../scss/styles.scss */
  .temoignages__bloc {
    gap: 2rem;
  }

  /* line 1125, ../scss/styles.scss */
  .temoignages__bloc__profil {
    top: 0;
  }

  /* line 1128, ../scss/styles.scss */
  .temoignages__bloc__design {
    display: block;
  }

  /* line 1132, ../scss/styles.scss */
  #contact .contact-social-media {
    flex-direction: row;
    width: 60%;
    margin: auto;
  }
  /* line 1137, ../scss/styles.scss */
  #contact .contact-social-media-bloc {
    width: calc(33% - 1rem);
  }

  /* line 1141, ../scss/styles.scss */
  .description-article-header-titre {
    font-size: 4.2rem;
    width: auto;
  }

  /* Page 404 - NOT FOUND */
  /* line 1146, ../scss/styles.scss */
  .page__not__found__404 h1 {
    font-size: 6.4rem;
  }

  /* line 1149, ../scss/styles.scss */
  .not__found__404 {
    font-size: 20rem;
  }
}
@media screen and (min-width: 780px) {
  /* line 1154, ../scss/styles.scss */
  #header {
    height: auto;
    border-bottom: 0.2rem solid #3ffba6;
  }

  /* line 1158, ../scss/styles.scss */
  .menu {
    display: none;
  }

  /* line 1161, ../scss/styles.scss */
  #nav {
    order: 2;
    height: 100%;
  }
  /* line 1165, ../scss/styles.scss */
  #nav .menulink {
    border: 0 none;
    width: auto;
    position: static;
    display: flex;
    height: 100%;
    z-index: 0;
    padding: 0;
    font-size: 1.6rem;
    background-color: transparent;
  }
  /* line 1176, ../scss/styles.scss */
  #nav .menulink li {
    padding: 0 1rem;
    width: 11rem;
    padding: 1rem 2rem;
  }
  /* line 1181, ../scss/styles.scss */
  #nav .menulink a {
    flex-direction: column;
    gap: 0.5rem;
  }
  /* line 1185, ../scss/styles.scss */
  #nav .menulink span:nth-child(1) {
    font-size: 2rem;
  }

  /* line 1189, ../scss/styles.scss */
  .logo {
    order: 1;
  }
  /* line 1192, ../scss/styles.scss */
  .logo p {
    font-size: 3.2rem;
  }
  /* line 1195, ../scss/styles.scss */
  .logo a {
    font-size: 2.4rem;
  }

  /* line 1199, ../scss/styles.scss */
  .account {
    order: 3;
  }

  /* line 1202, ../scss/styles.scss */
  .video {
    min-height: 60rem;
  }

  /* line 1205, ../scss/styles.scss */
  .video h1 {
    font-size: 5.2rem;
  }

  /* line 1208, ../scss/styles.scss */
  .video > p {
    width: 50%;
  }

  /* line 1211, ../scss/styles.scss */
  .video .form-search {
    width: 60%;
    margin-top: 12rem;
    margin-bottom: 6rem;
  }

  /* line 1217, ../scss/styles.scss */
  #connexion .form-connexion {
    margin-left: auto;
    margin-right: 0;
    flex-shrink: 0;
  }
  /* line 1222, ../scss/styles.scss */
  #connexion .connexion-bloc {
    padding-top: 12rem;
    padding-bottom: 12rem;
    flex-direction: row;
    align-items: flex-start;
  }
  /* line 1228, ../scss/styles.scss */
  #connexion .connexion-bloc-app {
    max-width: 80rem;
  }
  /* line 1230, ../scss/styles.scss */
  #connexion .connexion-bloc-app h2 {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 1024px) {
  /* line 1240, ../scss/styles.scss */
  .logo a {
    font-size: 3rem;
  }

  /* line 1244, ../scss/styles.scss */
  .recent-posts-group,
  .moreArticles {
    gap: 3rem;
  }

  /* line 1248, ../scss/styles.scss */
  .recent-posts-bloc {
    width: calc(25% - 2.25rem);
  }

  /* line 1251, ../scss/styles.scss */
  #nav .menulink li {
    width: 12rem;
    margin-left: 0.5rem;
  }

  /* line 1255, ../scss/styles.scss */
  .description-article-details p {
    width: 80rem;
  }

  /* line 1258, ../scss/styles.scss */
  .recent-posts-filtre {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  /* line 1266, ../scss/styles.scss */
  .header, .mainheader, .footer, .recent-posts, .temoignages, .description-article-details,
  .connexion-bloc, .descriptionArticle-liste-commentaire {
    width: 120rem;
    margin: auto;
  }
}
