/* line 5, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Declaration des variables */
/* Devices */
/* line 6, ../scss/styles.scss */
*, ::after, ::before {
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  outline: none;
  border: none;
  color: inherit;
  text-decoration: none;
  line-height: 1.5;
}

/* line 15, ../scss/styles.scss */
html {
  font-size: 62.5%;
}

/* line 18, ../scss/styles.scss */
body {
  font-size: 1.6rem;
  font-family: nunito, sans-serif;
}

/* line 22, ../scss/styles.scss */
textarea {
  resize: none;
}

/* loadingprofil */
/* line 26, ../scss/styles.scss */
.loadingprofil {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translate(-50%);
  opacity: 0;
}

/* line 34, ../scss/styles.scss */
.message--erreur {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #dc3545;
}

/* line 40, ../scss/styles.scss */
.message--succes {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #198754;
}

/* Wrapper */
/* line 48, ../scss/styles.scss */
#wrapper {
  color: #fafafa;
  position: relative;
  min-width: 36rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* line 57, ../scss/styles.scss */
#wrapper.active {
  height: 100vh;
  overflow: hidden;
}

/* Fin Wrapper*/
/*Header*/
/* line 64, ../scss/styles.scss */
#header {
  height: 5rem;
  padding: 0 2rem;
  background-color: #011d26;
}

/* line 69, ../scss/styles.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/*Fin Header*/
/*Menu*/
/* line 77, ../scss/styles.scss */
.menu {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* line 86, ../scss/styles.scss */
.menuburger {
  width: 100%;
  height: 1.2rem;
  position: relative;
}

/* line 91, ../scss/styles.scss */
.menuburger-ligne {
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  background-color: #3ffba6;
}

/* line 98, ../scss/styles.scss */
.menuburger-ligne-1 {
  top: 0;
}

/* line 101, ../scss/styles.scss */
.menuburger-ligne-2 {
  top: 0.6rem;
}

/* line 104, ../scss/styles.scss */
.menuburger-ligne-3 {
  top: 1.2rem;
  width: 60%;
}

/*Fin Menu*/
/* Logo */
/* line 112, ../scss/styles.scss */
.logo p {
  font-weight: bold;
  font-size: 2.4rem;
}
/* line 116, ../scss/styles.scss */
.logo p a {
  font-family: 'lobster two';
}
/* line 120, ../scss/styles.scss */
.logo p > span {
  color: #3ffba6;
}
/* line 124, ../scss/styles.scss */
.logo p span + span {
  color: #3ffba6;
}

/*Fin Logo*/
/* Account */
/* line 131, ../scss/styles.scss */
.account {
  font-size: 1.8rem;
  color: #3ffba6;
}

/* MenuLink */
/* line 136, ../scss/styles.scss */
.menulink {
  position: absolute;
  left: -200%;
  width: 100%;
  right: 0;
  background-color: #011d26;
  height: 100vh;
  z-index: 1;
  color: #ffffff;
  top: 5rem;
  border-top: 0.2rem solid #3ffba6;
  padding: 2rem;
  transition: left 0.3s ease-in-out;
  font-size: 2rem;
}
/* line 151, ../scss/styles.scss */
.menulink.active {
  left: 0;
}

/* line 155, ../scss/styles.scss */
.menulink li {
  padding: 1.5rem 0;
}
/* line 158, ../scss/styles.scss */
.menulink li.active {
  background-color: #3ffba6;
  color: #011d26;
}
/* line 162, ../scss/styles.scss */
.menulink li.active span:nth-child(1) {
  color: #011d26;
}

/* line 167, ../scss/styles.scss */
.menulink a {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* line 172, ../scss/styles.scss */
.menulink span:nth-child(1) {
  color: #3ffba6;
}

/*Fin MenuLink*/
/*Main*/
/* line 178, ../scss/styles.scss */
.video {
  width: 100%;
  height: 100vh;
  max-height: 55rem;
  min-height: 40rem;
  overflow: hidden;
  position: relative;
}

/* line 186, ../scss/styles.scss */
.video video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-position: center;
  z-index: -2;
}

/* line 197, ../scss/styles.scss */
.video::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.82);
}

/* line 206, ../scss/styles.scss */
.video h1 {
  width: 90%;
  margin: 1rem auto;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  color: #3ffba6;
}
/* line 214, ../scss/styles.scss */
.video h1 span {
  color: #ffffff;
  display: block;
}

/* line 219, ../scss/styles.scss */
.video .text-accroche {
  width: 60%;
  margin: 5rem auto 0;
  text-align: center;
}
/* line 224, ../scss/styles.scss */
.video .text-accroche a {
  width: 100%;
  margin-top: 2rem;
  font-size: 3.2rem;
  color: #3ffba6;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 235, ../scss/styles.scss */
.video .form-search {
  width: 90%;
  margin: 8rem auto 4rem;
}

/* line 239, ../scss/styles.scss */
.form-search input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 9999rem;
  height: 100%;
  color: #011d26;
}

/* line 246, ../scss/styles.scss */
.form-search .input-control {
  width: 100%;
  position: relative;
  height: 4rem;
}

/* line 251, ../scss/styles.scss */
.input-control p {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
  background: #011d26;
  font-size: 1.2rem;
}

/* line 265, ../scss/styles.scss */
.input-control span {
  color: #ffffff;
}

/* line 268, ../scss/styles.scss */
::placeholder {
  text-align: center;
  font-size: 1.4rem;
  color: #011d26;
  font-weight: bold;
}

/* Nos recentes publications */
/* line 276, ../scss/styles.scss */
.recent-posts {
  color: #000;
  padding: 4rem 2rem;
  position: relative;
}
/* line 281, ../scss/styles.scss */
.recent-posts h2 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  font-weight: bold;
  text-align: center;
  font-family: 'lobster two';
  color: #011d26;
}

/* line 290, ../scss/styles.scss */
.recent-posts-bloc {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  position: relative;
  z-index: 1;
}
/* line 296, ../scss/styles.scss */
.recent-posts-bloc::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  right: -3%;
  top: 3%;
  background: rgba(0, 0, 0, 0.04);
  z-index: -1;
  position: absolute;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

/* line 310, ../scss/styles.scss */
.recent-posts-article-categories {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
}
/* line 316, ../scss/styles.scss */
.recent-posts-article-categories span {
  color: #011d26;
  font-weight: bold;
}

/* Filtre */
/* line 322, ../scss/styles.scss */
.recent-posts-filtre {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* line 328, ../scss/styles.scss */
.recent-posts-filtre-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #011d26;
  min-width: 20rem;
}

/* line 335, ../scss/styles.scss */
.recent-posts-filtre-title span {
  color: #E55812;
  font-size: 2rem;
  margin: 0 1rem;
}

/* line 340, ../scss/styles.scss */
.recent-posts-filtre-categorie-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

/* line 348, ../scss/styles.scss */
.recent-posts-filtre-categorie {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.75rem 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 9999rem;
  color: #011d26;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
/* line 359, ../scss/styles.scss */
.recent-posts-filtre-categorie.active {
  background-color: #011d26;
  color: #ffffff;
}
/* line 363, ../scss/styles.scss */
.recent-posts-filtre-categorie.active a {
  color: #3ffba6;
}
/* line 368, ../scss/styles.scss */
.recent-posts-filtre-categorie a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
}

/* line 373, ../scss/styles.scss */
.recent-posts-info {
  text-align: right;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  color: #E55812;
}

/* line 375, ../scss/styles.scss */
.recent-posts-image {
  width: 100%;
  height: 20rem;
  background: #ffffff;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.04);
}
/* line 382, ../scss/styles.scss */
.recent-posts-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

/* line 390, ../scss/styles.scss */
.recent-posts-main {
  padding: 2rem 1rem;
  background: #ffffff;
}

/* line 394, ../scss/styles.scss */
.recent-posts-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3rem;
}

/* line 400, ../scss/styles.scss */
.recent-posts-bloc {
  width: 100%;
}

/* line 403, ../scss/styles.scss */
.recent-posts-title {
  margin-bottom: 1rem;
  color: #E55812;
  font-weight: bold;
}

/* line 408, ../scss/styles.scss */
.recent-posts-more {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

/* line 413, ../scss/styles.scss */
.recent-posts-more a {
  padding: 0.75rem 1rem;
  width: 16rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: #011d26;
}

/* Fin Main*/
/** Temoignages */
/* line 427, ../scss/styles.scss */
#temoignages {
  padding: 6rem 1rem;
  background-color: #011d26;
  color: #000;
  overflow: hidden;
}

/* line 433, ../scss/styles.scss */
.temoignages h2 {
  color: #3ffba6;
  font-family: 'lobster two';
  font-size: 3.2rem;
  min-width: 30rem;
  margin-bottom: 3rem;
  text-align: center;
}

/* line 441, ../scss/styles.scss */
.temoignages h2 span {
  line-height: 1.5;
}

/* line 444, ../scss/styles.scss */
.temoignages__navigation__bloc {
  display: flex;
}

/* line 447, ../scss/styles.scss */
.temoignages__navigation__left {
  position: relative;
  top: 0;
  left: 0;
}

/* line 452, ../scss/styles.scss */
.temoignages__navigation__right {
  position: relative;
  top: 0;
  right: calc(-100% + 7rem);
}

/* line 457, ../scss/styles.scss */
.temoignages__navigation {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #011d26;
  border: 0.1rem solid rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  margin-bottom: 3rem;
  cursor: pointer;
}

/* line 469, ../scss/styles.scss */
.temoignages__navigation__left {
  display: none;
}

/* line 472, ../scss/styles.scss */
.temoignages__navigation__left.active,
.temoignages__navigation__right.active {
  display: flex;
  background-color: #3ffba6;
  color: #011d26;
}

/* line 478, ../scss/styles.scss */
.temoignages__navigation__right {
  display: none;
}

/* line 481, ../scss/styles.scss */
.temoignages__bloc {
  min-width: 30rem;
  position: relative;
}

/* line 485, ../scss/styles.scss */
.temoignages__bloc__group {
  width: 96%;
  transition: transform 0.3s ease-in;
}

/* line 489, ../scss/styles.scss */
.temoignages__bloc__comments {
  background: #000000;
  color: #ffffff;
  position: relative;
  border-radius: 0.5rem;
}

/* line 495, ../scss/styles.scss */
.temoignages__bloc__comments_user {
  padding: 0 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.04);
}

/* line 499, ../scss/styles.scss */
.temoignages blockquote i {
  display: block;
  padding: 0.5rem 0;
  font-size: 2.8rem;
  color: #3ffba6;
  cursor: pointer;
}

/* line 506, ../scss/styles.scss */
blockquote p {
  margin-bottom: 0;
  padding: 0 0 0 2rem;
}

/* line 510, ../scss/styles.scss */
blockquote p + i {
  text-align: right;
}

/* line 513, ../scss/styles.scss */
.temoignages cite {
  display: block;
  text-align: right;
}

/* line 517, ../scss/styles.scss */
.temoignages cite span::before {
  content: "_";
  font-size: 2rem;
}

/* line 521, ../scss/styles.scss */
.temoignages cite span {
  font-size: 1.2rem;
  font-style: italic;
  color: #E55812;
}

/* line 526, ../scss/styles.scss */
.temoignages__bloc__design {
  width: 3rem;
  height: 3rem;
  background-color: #000000;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.04);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.04);
  position: relative;
  transform: rotate(45deg);
  top: -1.5rem;
  left: 4rem;
  display: none;
}

/* line 539, ../scss/styles.scss */
.temoignages__bloc__profil {
  width: 5rem;
  height: 5rem;
  margin-left: 3rem;
  padding: 0.4rem;
  border: 0.3rem solid #000000;
  background-color: #000000;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -6rem;
}

/* line 551, ../scss/styles.scss */
.temoignages__bloc__profil img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  filter: grayscale(100%);
  opacity: 0.75;
}

/* line 559, ../scss/styles.scss */
.temoignages__bloc {
  display: flex;
  gap: 1rem;
}

/* line 564, ../scss/styles.scss */
.temoignages__bloc__group {
  width: 96%;
  max-width: 30rem;
  flex-shrink: 0;
}

/* Fin Temoignages */
/* Contact */
/* line 571, ../scss/styles.scss */
#contact {
  width: 100%;
  color: #000000;
}
/* line 575, ../scss/styles.scss */
#contact .contact {
  padding: 6rem 1rem;
}
/* line 578, ../scss/styles.scss */
#contact h2 {
  font-size: 3.2rem;
  margin-bottom: 4rem;
  font-weight: bold;
  text-align: center;
  font-family: 'lobster two';
  color: #011d26;
}
/* line 586, ../scss/styles.scss */
#contact .contact-social-media {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/* line 591, ../scss/styles.scss */
#contact b {
  font-size: 2rem;
  color: #011d26;
}
/* line 595, ../scss/styles.scss */
#contact .contact-social-media-bloc {
  border: 0.1rem solid rgba(0, 0, 0, 0.04);
  background-color: rgba(0, 0, 0, 0.02);
  margin: 0 auto;
  width: 100%;
  padding: 3rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
/* line 607, ../scss/styles.scss */
#contact .contact-social-media-bloc p {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
/* line 613, ../scss/styles.scss */
#contact .contact-social-media-bloc span:nth-child(1) {
  font-size: 5.2rem;
  color: #E55812;
}

/* Footer */
/* line 620, ../scss/styles.scss */
#footer {
  background-color: #011d26;
  margin-top: auto;
  border-top: 0.4rem solid #3ffba6;
}

/* line 625, ../scss/styles.scss */
.footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 631, ../scss/styles.scss */
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* line 637, ../scss/styles.scss */
.footer-copyright .designer span {
  color: #3ffba6;
}

/** Description Article **/
/* line 641, ../scss/styles.scss */
.description-article-header-img {
  height: 42rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.4rem solid #3ffba6;
}

/* line 651, ../scss/styles.scss */
.description-article-header-img p {
  width: 100%;
  height: 100%;
}
/* line 654, ../scss/styles.scss */
.description-article-header-img p::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
/* line 664, ../scss/styles.scss */
.description-article-header-img p img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* line 672, ../scss/styles.scss */
.description-article-header-titre,
.description-article-header-date-publication {
  position: absolute;
  z-index: 2;
}

/* line 677, ../scss/styles.scss */
.description-article-header-titre {
  font-size: 3.2rem;
  width: 30rem;
  font-weight: bold;
  text-align: center;
  font-family: 'lobster two';
  color: #3ffba6;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  border: 0.1rem solid #3ffba6;
  background: rgba(0, 0, 0, 0.95);
}

/* line 689, ../scss/styles.scss */
.description-article-header-date-publication {
  color: #ffffff;
  margin-top: 15rem;
  font-weight: bold;
  font-size: 2rem;
}

/* line 695, ../scss/styles.scss */
.description-article-commentaires-input-control {
  margin-bottom: 1rem;
}
/* line 698, ../scss/styles.scss */
.description-article-commentaires-input-control p {
  text-align: right;
}

/* line 702, ../scss/styles.scss */
.description-article-details {
  padding: 6rem 2rem;
  color: #000000;
  line-height: 2;
}
/* line 707, ../scss/styles.scss */
.description-article-details .description-article-details-categorie {
  margin-top: 2rem;
}
/* line 711, ../scss/styles.scss */
.description-article-details span {
  color: #011d26;
}
/* line 714, ../scss/styles.scss */
.description-article-details strong {
  color: #011d26;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  margin: 2rem 0;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.02);
}
/* line 725, ../scss/styles.scss */
.description-article-details p {
  width: 100%;
}

/* line 729, ../scss/styles.scss */
.description-article-commentaires {
  margin-top: 6rem;
  width: 100%;
  max-width: 80rem;
  position: relative;
}
/* line 735, ../scss/styles.scss */
.description-article-commentaires legend {
  color: #011d26;
  font-family: 'lobster two';
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 3.2rem;
}
/* line 742, ../scss/styles.scss */
.description-article-commentaires textarea, .description-article-commentaires input {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
}
/* line 748, ../scss/styles.scss */
.description-article-commentaires textarea {
  height: 24rem;
}
/* line 751, ../scss/styles.scss */
.description-article-commentaires input::placeholder {
  color: inherit;
  text-align: left;
  font-weight: normal;
  opacity: 0.5;
}
/* line 757, ../scss/styles.scss */
.description-article-commentaires input[type="submit"] {
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: #011d26;
  transition: background-color 0.3s ease-in-out;
  font-size: 2rem;
}
/* line 765, ../scss/styles.scss */
.description-article-commentaires input[type="submit"]:hover {
  background-color: #3ffba6;
  color: #011d26;
}

@keyframes slipeupdown {
  0% {
    top: 0;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    top: 0.5rem;
    transform: scale(1.2);
    opacity: 0.3;
  }
}
/* line 783, ../scss/styles.scss */
.recent-posts-more .fa-chevron-down {
  position: relative;
  top: 0;
  animation: slipeupdown 1.2s alternate infinite;
}

/* line 788, ../scss/styles.scss */
.text-accroche .fa-chevron-down {
  position: relative;
  top: 0;
  animation: slipeupdown 1.2s alternate infinite;
}

/* Page de connexion */
/* line 794, ../scss/styles.scss */
#connexion {
  padding: 0 2rem;
}

/* line 797, ../scss/styles.scss */
.connexion-bloc {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 36rem;
}
/* line 805, ../scss/styles.scss */
.connexion-bloc .connexion-bloc-app {
  color: #000;
}
/* line 808, ../scss/styles.scss */
.connexion-bloc .connexion-bloc-app p {
  line-height: 2;
}
/* line 813, ../scss/styles.scss */
.connexion-bloc h2 {
  margin-bottom: 3rem;
  font-family: 'lobster two';
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.5;
}
/* line 820, ../scss/styles.scss */
.connexion-bloc .form-connexion {
  width: 100%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 32rem;
  padding: 4rem 2rem;
  background-color: #011d26;
  color: #ffffff;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
/* line 833, ../scss/styles.scss */
.connexion-bloc legend {
  background-color: #3ffba6;
  position: absolute;
  bottom: -27rem;
  padding: 2rem;
  color: #011d26;
  font-size: 2.2rem;
  width: 64rem;
  height: 32rem;
  text-align: center;
  padding: 2rem 0;
  border-radius: 50%;
  left: -50%;
  transition: bottom 0.3s ease-in-out;
}
/* line 848, ../scss/styles.scss */
.connexion-bloc legend:hover {
  cursor: pointer;
  bottom: -25.5rem;
}
/* line 853, ../scss/styles.scss */
.connexion-bloc .connexion-input-control {
  margin-bottom: 1.5rem;
}
/* line 856, ../scss/styles.scss */
.connexion-bloc input {
  padding: 1.25rem 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: 100%;
  color: #000;
}
/* line 863, ../scss/styles.scss */
.connexion-bloc input[type="submit"] {
  color: #011d26;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  border: 0.1rem solid #ffffff;
  transition: background-color 0.3s ease-in-out;
}
/* line 873, ../scss/styles.scss */
.connexion-bloc input[type="submit"]:hover {
  background-color: #3ffba6;
  color: #011d26;
}
/* line 878, ../scss/styles.scss */
.connexion-bloc ::placeholder {
  text-align: left;
  font-weight: normal;
  opacity: 0.5;
}

/** Commentaires */
/* line 886, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

/* line 890, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  align-items: center;
  gap: 2rem;
}
/* line 897, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group .descriptionArticle-liste-commentaire-description {
  width: calc(100% - 8rem);
  max-width: 80rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.03);
}
/* line 905, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group .descriptionArticle-liste-commentaire-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 909, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group .descriptionArticle-liste-commentaire-title p {
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  padding: 1rem;
}
/* line 917, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group .descriptionArticle-liste-commentaire-title img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  filter: grayscale(80%);
  opacity: 0.5;
}
/* line 925, ../scss/styles.scss */
.descriptionArticle-liste-commentaire-group .descriptionArticle-liste-commentaire-title span {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.2rem;
}

@media screen and (min-width: 540px) {
  /* line 935, ../scss/styles.scss */
  .recent-posts, .footer, #temoignages, .contact {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* Nos recentes publications */
  /* line 941, ../scss/styles.scss */
  .recent-posts h2, .contact h2 {
    font-size: 3.2rem;
  }

  /* line 945, ../scss/styles.scss */
  .recent-posts-group {
    flex-direction: row;
    gap: 2rem;
  }

  /* line 949, ../scss/styles.scss */
  .recent-posts-bloc {
    margin-bottom: 4rem;
    width: calc(50% - 1rem);
  }

  /* line 953, ../scss/styles.scss */
  .video h1 {
    font-size: 3.2rem;
  }

  /* line 956, ../scss/styles.scss */
  .temoignages__bloc {
    gap: 2rem;
  }

  /* line 959, ../scss/styles.scss */
  .temoignages__bloc__profil {
    top: 0;
  }

  /* line 962, ../scss/styles.scss */
  .temoignages__bloc__design {
    display: block;
  }

  /* line 966, ../scss/styles.scss */
  #contact .contact-social-media {
    flex-direction: row;
    width: 60%;
    margin: auto;
  }
  /* line 971, ../scss/styles.scss */
  #contact .contact-social-media-bloc {
    width: calc(33% - 1rem);
  }

  /* line 975, ../scss/styles.scss */
  .description-article-header-titre {
    font-size: 4.2rem;
    width: auto;
  }
}
@media screen and (min-width: 780px) {
  /* line 981, ../scss/styles.scss */
  #header {
    height: auto;
    border-bottom: 0.2rem solid #3ffba6;
  }

  /* line 985, ../scss/styles.scss */
  .menu {
    display: none;
  }

  /* line 988, ../scss/styles.scss */
  #nav {
    order: 2;
    height: 100%;
  }
  /* line 992, ../scss/styles.scss */
  #nav .menulink {
    border: 0 none;
    width: auto;
    position: static;
    display: flex;
    height: 100%;
    z-index: 0;
    padding: 0;
    font-size: 1.6rem;
    background-color: transparent;
  }
  /* line 1003, ../scss/styles.scss */
  #nav .menulink li {
    padding: 0 1rem;
    width: 11rem;
    padding: 1rem 2rem;
  }
  /* line 1008, ../scss/styles.scss */
  #nav .menulink a {
    flex-direction: column;
    gap: 0.5rem;
  }
  /* line 1012, ../scss/styles.scss */
  #nav .menulink span:nth-child(1) {
    font-size: 2rem;
  }

  /* line 1016, ../scss/styles.scss */
  .logo {
    order: 1;
  }
  /* line 1019, ../scss/styles.scss */
  .logo p {
    font-size: 3.2rem;
  }
  /* line 1022, ../scss/styles.scss */
  .logo a {
    font-size: 2.4rem;
  }

  /* line 1026, ../scss/styles.scss */
  .account {
    order: 3;
  }

  /* line 1029, ../scss/styles.scss */
  .video {
    min-height: 60rem;
  }

  /* line 1032, ../scss/styles.scss */
  .video h1 {
    font-size: 5.2rem;
  }

  /* line 1035, ../scss/styles.scss */
  .video > p {
    width: 50%;
  }

  /* line 1038, ../scss/styles.scss */
  .video .form-search {
    width: 60%;
    margin-top: 12rem;
    margin-bottom: 6rem;
  }

  /* line 1044, ../scss/styles.scss */
  #connexion .form-connexion {
    margin-left: auto;
    margin-right: 0;
    flex-shrink: 0;
  }
  /* line 1049, ../scss/styles.scss */
  #connexion .connexion-bloc {
    padding-top: 12rem;
    padding-bottom: 12rem;
    flex-direction: row;
    align-items: flex-start;
  }
  /* line 1055, ../scss/styles.scss */
  #connexion .connexion-bloc-app {
    max-width: 80rem;
  }
  /* line 1057, ../scss/styles.scss */
  #connexion .connexion-bloc-app h2 {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 1024px) {
  /* line 1067, ../scss/styles.scss */
  .logo a {
    font-size: 3rem;
  }

  /* line 1071, ../scss/styles.scss */
  .recent-posts-group {
    gap: 3rem;
  }

  /* line 1074, ../scss/styles.scss */
  .recent-posts-bloc {
    width: calc(25% - 2.25rem);
  }

  /* line 1077, ../scss/styles.scss */
  #nav .menulink li {
    width: 12rem;
    margin-left: 0.5rem;
  }

  /* line 1081, ../scss/styles.scss */
  .description-article-details p {
    width: 80rem;
  }

  /* line 1084, ../scss/styles.scss */
  .recent-posts-filtre {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  /* line 1092, ../scss/styles.scss */
  .header, .mainheader, .footer, .recent-posts, .temoignages, .description-article-details,
  .connexion-bloc, .descriptionArticle-liste-commentaire {
    width: 120rem;
    margin: auto;
  }
}
