/* Declaration des variables */
$couleur--principal:#E96529;
// $couleur--primaire:#1c0123;
// $couleur--secondaire:#d93ffb;
$couleur--primaire:#011d26;
$couleur--secondaire:#3ffba6;
$couleur--tertiaire:#E55812;
$couleur--blanc:#ffffff;
$couleur--noir:#000000;
$couleur--message--erreur: #dc3545;
$couleur--message--success: #198754;

/* Devices */
$small-device : 540; //Ecran de 540px minimum
$medium-device : 780; //Ecran de 780px minimum
$large-device : 1024; //Ecran de 1024px minimum
$xx-large-device : 1200; //Ecran de 1200px minimum
$xxl-large-device : 1400; //Ecran de 1400px minimum